*~
*.new
/archive
/errs
/errs.[0-9]
/errs.[0-9].gz
/stump/data
/stump/tmp
/webstump/Makefile
/webstump/bin/q
/webstump/bin/wrapper
/webstump/config/webstump.cfg
/webstump/config/newsgroups.lst
/webstump/config/newsgroups/*
/webstump/queues/*/dir_*
/webstump/log
/xlog/log/*/event.log
/xlog/log/*/event.log.[0-9]
/xlog/log/*/event.log.[0-9].gz
/xlog/log/*/public/nr-*.txt
/crontab.part
/public-html/messages
/public-html/rejection-reasons
/stump/etc/modenv
/stump/etc/added-headers
/stump/etc/added-footer
/stump/etc/added-footer.new
/stump/etc/approval.key.txt
/stump/etc/modack.approved
/stump/etc/modack.received
/stump/etc/modack.approved.new
/stump/etc/modack.received.new
/stump/etc/procmail/save-approved
/stump/etc/procmail/save-rejected
/stump/etc/moderators
/stump/etc/sanitise_and_quote_email
/stump/etc/messages/*[^N]?
/sballot/issues
/inews
/mailinglists_dir.part
/forward-slimy.part
/forward-suffix.part
/cgi/logs
/README.auto

/settings
/settings.publish-rejection-kinds
/moderators
/persistent-autosettings
/probes/probes
